<template>
  <li class="key">
    <slot></slot>
  </li>
</template>

<script setup>
</script>

<style scoped>
.white-key {
  width: 1.7rem;
  height: 8.5rem;
  background: #fff;
  border: 1px solid #000;
  background: linear-gradient(#bbb, #fff 97%, #ddd 3%);
  border-radius: 0 0 2px 2px;
}
.white-key:not(:first-child) {
  border-left: none;
}

.black-key {
  width: 1.4rem;
  height: 6rem;
  background: #000;
  margin: 0 -.7rem;
  z-index: 1;
  color: white;
  background: linear-gradient(#000000, #333333);
  border-radius: 0 0 2px 2px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: .7rem;
  font-family: sans-serif;
  user-select: none;
  cursor: pointer;
  padding-bottom: 0.8rem;
}

.white-key:active, .white-key.active {
  background: #00eeff;
  box-shadow: 0 0 5px #00eeff;
}

.black-key:active, .black-key.active{
  background: #00eeff;
  box-shadow: 0 0 5px #00eeff;
  color: black;
}


</style>
