<template>
    <div ref="noteList" class="note-list"></div>
    <div class="container">
        <div class="piano">
            <piano-key 
                ref="keyitem"
                v-for="key of keys" 
                :key="key.id" 
                :data-name="key.keyCode"
                :media="key.src"
                :class="key.name.includes('#') ? 'black-key' : 'white-key'"
                @mousedown="play(key.src)"
            >
            {{ key.name }}
            </piano-key>
        </div>
    </div>
</template>

<script setup>
    import PianoKey from './components/PianoKey.vue';
    import { ref, onMounted } from 'vue';

    const keys = ref([
        {id: 1, name: 'A0', src: require('@/assets/notes/A0.mp3'), keyCode: ''},
        {id: 2, name: 'A#0', src: require('@/assets/notes/Bb0.mp3'), keyCode: ''},
        {id: 3, name: 'B0', src: require('@/assets/notes/B0.mp3'), keyCode: ''},
        {id: 4, name: 'C1', src: require('@/assets/notes/C1.mp3'), keyCode: ''},
        {id: 5, name: 'C#1', src: require('@/assets/notes/Db1.mp3'), keyCode: ''},
        {id: 6, name: 'D1', src: require('@/assets/notes/D1.mp3'), keyCode: ''},
        {id: 7, name: 'D#1', src: require('@/assets/notes/Eb1.mp3'), keyCode: ''},
        {id: 8, name: 'E1', src: require('@/assets/notes/E1.mp3'), keyCode: ''},
        {id: 9, name: 'F1', src: require('@/assets/notes/F1.mp3'), keyCode: ''},
        {id: 10, name: 'F#1', src: require('@/assets/notes/Gb1.mp3'), keyCode: ''},
        {id: 11, name: 'G1', src: require('@/assets/notes/G1.mp3'), keyCode: ''},
        {id: 12, name: 'G#1', src: require('@/assets/notes/Ab1.mp3'), keyCode: ''},
        {id: 13, name: 'A1', src: require('@/assets/notes/A1.mp3'), keyCode: ''},
        {id: 14, name: 'A#1', src: require('@/assets/notes/Bb1.mp3'), keyCode: ''},
        {id: 15, name: 'B1', src: require('@/assets/notes/B1.mp3'), keyCode: ''},
        {id: 16, name: 'C2', src: require('@/assets/notes/C2.mp3'), keyCode: 'z'},
        {id: 17, name: 'C#2', src: require('@/assets/notes/Db2.mp3'), keyCode: 's'},
        {id: 18, name: 'D2', src: require('@/assets/notes/D2.mp3'), keyCode: 'x'},
        {id: 19, name: 'D#2', src: require('@/assets/notes/Eb2.mp3'), keyCode: 'd'},
        {id: 20, name: 'E2', src: require('@/assets/notes/E2.mp3'), keyCode: 'c'},
        {id: 21, name: 'F2', src: require('@/assets/notes/F2.mp3'), keyCode: 'v'},
        {id: 22, name: 'F#2', src: require('@/assets/notes/Gb2.mp3'), keyCode: 'g'},
        {id: 23, name: 'G2', src: require('@/assets/notes/G2.mp3'), keyCode: 'b'},
        {id: 24, name: 'G#2', src: require('@/assets/notes/Ab2.mp3'), keyCode: 'h'},
        {id: 25, name: 'A2', src: require('@/assets/notes/A2.mp3'), keyCode: 'n'},
        {id: 26, name: 'A#2', src: require('@/assets/notes/Bb2.mp3'), keyCode: 'j'},
        {id: 27, name: 'B2', src: require('@/assets/notes/B2.mp3'), keyCode: 'm'},
        {id: 28, name: 'C3', src: require('@/assets/notes/C3.mp3'), keyCode: ','},
        {id: 29, name: 'C#3', src: require('@/assets/notes/Db3.mp3'), keyCode: 'l'},
        {id: 30, name: 'D3', src: require('@/assets/notes/D3.mp3'), keyCode: '.'},
        {id: 31, name: 'D#3', src: require('@/assets/notes/Eb3.mp3'), keyCode: ';'},
        {id: 32, name: 'E3', src: require('@/assets/notes/E3.mp3'), keyCode: '/'},
        {id: 33, name: 'F3', src: require('@/assets/notes/F3.mp3'), keyCode: 'Shift'},
        {id: 34, name: 'F#3', src: require('@/assets/notes/Gb3.mp3'), keyCode: 'Enter'},
        {id: 35, name: 'G3', src: require('@/assets/notes/G3.mp3'), keyCode: ''},
        {id: 36, name: 'G#3', src: require('@/assets/notes/Ab3.mp3'), keyCode: ''},
        {id: 37, name: 'A3', src: require('@/assets/notes/A3.mp3'), keyCode: ''},
        {id: 38, name: 'A#3', src: require('@/assets/notes/Bb3.mp3'), keyCode: ''},
        {id: 39, name: 'B3', src: require('@/assets/notes/B3.mp3'), keyCode: ''},
        {id: 40, name: 'C4', src: require('@/assets/notes/C4.mp3'), keyCode: 'q'},
        {id: 41, name: 'C#4', src: require('@/assets/notes/Db4.mp3'), keyCode: '2'},
        {id: 42, name: 'D4', src: require('@/assets/notes/D4.mp3'), keyCode: 'w'},
        {id: 43, name: 'D#4', src: require('@/assets/notes/Eb4.mp3'), keyCode: '3'},
        {id: 44, name: 'E4', src: require('@/assets/notes/E4.mp3'), keyCode: 'e'},
        {id: 45, name: 'F4', src: require('@/assets/notes/F4.mp3'), keyCode: 'r'},
        {id: 46, name: 'F#4', src: require('@/assets/notes/Gb4.mp3'), keyCode: '5'},
        {id: 47, name: 'G4', src: require('@/assets/notes/G4.mp3'), keyCode: 't'},
        {id: 48, name: 'G#4', src: require('@/assets/notes/Ab4.mp3'), keyCode: '6'},
        {id: 49, name: 'A4', src: require('@/assets/notes/A4.mp3'), keyCode: 'y'},
        {id: 50, name: 'A#4', src: require('@/assets/notes/Bb4.mp3'), keyCode: '7'},
        {id: 51, name: 'B4', src: require('@/assets/notes/B4.mp3'), keyCode: 'u'},
        {id: 52, name: 'C5', src: require('@/assets/notes/C5.mp3'), keyCode: 'i'},
        {id: 53, name: 'C#5', src: require('@/assets/notes/Db5.mp3'), keyCode: '9'},
        {id: 54, name: 'D5', src: require('@/assets/notes/D5.mp3'), keyCode: 'o'},
        {id: 55, name: 'D#5', src: require('@/assets/notes/Eb5.mp3'), keyCode: '0'},
        {id: 56, name: 'E5', src: require('@/assets/notes/E5.mp3'), keyCode: 'p'},
        {id: 57, name: 'F5', src: require('@/assets/notes/F5.mp3'), keyCode: "["},
        {id: 58, name: 'F#5', src: require('@/assets/notes/Gb5.mp3'), keyCode: '='},
        {id: 59, name: 'G5', src: require('@/assets/notes/G5.mp3'), keyCode: ']'},
        {id: 60, name: 'G#5', src: require('@/assets/notes/Ab5.mp3'), keyCode: 'Backspace'},
        {id: 61, name: 'A5', src: require('@/assets/notes/A5.mp3'), keyCode: '\\'},
        {id: 62, name: 'A#5', src: require('@/assets/notes/Bb5.mp3'), keyCode: 'Insert'},
        {id: 63, name: 'B5', src: require('@/assets/notes/B5.mp3'), keyCode: 'Delete'},
        {id: 64, name: 'C6', src: require('@/assets/notes/C6.mp3'), keyCode: ''},
        {id: 65, name: 'C#6', src: require('@/assets/notes/Db6.mp3'), keyCode: ''},
        {id: 66, name: 'D6', src: require('@/assets/notes/D6.mp3'), keyCode: ''},
        {id: 67, name: 'D#6', src: require('@/assets/notes/Eb6.mp3'), keyCode: ''},
        {id: 68, name: 'E6', src: require('@/assets/notes/E6.mp3'), keyCode: ''},
        {id: 69, name: 'F6', src: require('@/assets/notes/F6.mp3'), keyCode: ""},
        {id: 70, name: 'F#6', src: require('@/assets/notes/Gb6.mp3'), keyCode: ''},
        {id: 71, name: 'G6', src: require('@/assets/notes/G6.mp3'), keyCode: ''},
        {id: 72, name: 'G#6', src: require('@/assets/notes/Ab6.mp3'), keyCode: ''},
        {id: 73, name: 'A6', src: require('@/assets/notes/A6.mp3'), keyCode: ''},
        {id: 74, name: 'A#6', src: require('@/assets/notes/Bb6.mp3'), keyCode: ''},
        {id: 75, name: 'B6', src: require('@/assets/notes/B6.mp3'), keyCode: ''},
        {id: 76, name: 'C7', src: require('@/assets/notes/C7.mp3'), keyCode: ''},
        {id: 77, name: 'C#7', src: require('@/assets/notes/Db7.mp3'), keyCode: ''},
        {id: 78, name: 'D7', src: require('@/assets/notes/D7.mp3'), keyCode: ''},
        {id: 79, name: 'D#7', src: require('@/assets/notes/Eb7.mp3'), keyCode: ''},
        {id: 80, name: 'E7', src: require('@/assets/notes/E7.mp3'), keyCode: ''},
        {id: 81, name: 'F7', src: require('@/assets/notes/F7.mp3'), keyCode: ""},
        {id: 82, name: 'F#7', src: require('@/assets/notes/Gb7.mp3'), keyCode: ''},
        {id: 83, name: 'G7', src: require('@/assets/notes/G7.mp3'), keyCode: ''},
        {id: 84, name: 'G#7', src: require('@/assets/notes/Ab7.mp3'), keyCode: ''},
        {id: 85, name: 'A7', src: require('@/assets/notes/A7.mp3'), keyCode: ''},
        {id: 86, name: 'A#7', src: require('@/assets/notes/Bb7.mp3'), keyCode: ''},
        {id: 87, name: 'B7', src: require('@/assets/notes/B7.mp3'), keyCode: ''},
        {id: 88, name: 'C8', src: require('@/assets/notes/C8.mp3'), keyCode: ''},
    ])
    const keyitem = ref(null)

    const play = (src) => {
        const audio = new Audio(src)
        audio.play()
    }

    onMounted(() => {
        window.addEventListener('keydown', e => {
            keyitem.value.forEach(item => {
                if (item.$attrs['data-name'] === e.key) {
                    play(item.$attrs.media)
                    item.$el.classList.add('active')
                }
            })
        })
        window.addEventListener('keyup', e => {
            keyitem.value.forEach(item => {
                if (item.$attrs['data-name'] === e.key) {
                    item.$el.classList.remove('active')
                }
            })
        })
    })
    
   
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #2c3e50;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  min-height: 100vh;
}
.piano {
  display: flex;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
}


</style>
